*{box-sizing: border-box; margin: 0; padding: 0;}
img{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;}

/* html{scroll-behavior: smooth;} */

@font-face { font-family: Fababrac-titre; src: url('../fonts/Fababrac-GTitre.otf'); } 
@font-face { font-family: Fababrac; src: url('../fonts/Fababrac-Minuscule.otf'); } 
@font-face { font-family: Fababrac-soustitre; src: url('../fonts/Fababrac-Soustitre.otf'); } 



:root{

    /* general */

    --ff-t:Fababrac-titre;
    --ff-st:Fababrac;
    --ff-p:Roboto;
    --ff-c:Gabarito;
    --fs-t: 2dvw;
    --fs-st : 1.25dvw;
    --fs-p : 1dvw;
    --fs-c : 1em;

    /* accueil */

    --w-projAbs : 6000;
    --h-projAbs : 1084;
    --h-center : 90dvh;
    --h-header : 0dvh;
    --projRatio: calc(var(--w-projAbs)/var(--h-projAbs));
    --w-desc : 35dvw;

    /* left: calc((var(--p-APropos)/var(--w-projAbs))*((var(--projRatio))*var(--h-center))); */

    /* projects dimensions */
    --scaleFactor : 1;

    --p-APropos : calc(250*var(--scaleFactor));
    --w-APropos : calc(772*var(--scaleFactor));
    --h-APropos : calc(576*var(--scaleFactor));



}

/* EXPERIMENTATIONGGSS */




/* general */

body{    
    position: relative; 
    font-size: 100%;
}
button{
    background: none;
	color: inherit;
	border: none;
	font: inherit;
    cursor: zoom-in;
	outline: inherit;
}
p{  
    padding-top: var(--spaces) ;
    padding-bottom: var(--spaces);
    background-color: rgba(137, 43, 226, 0);
    font-size: var(--fs-p);
    font-family: var(--ff-p);
    line-height: 150%;
}

h1{
    font-family: var(--ff-t);
    font-size: var(--fs-t);
}

h2{
    font-family: var(--ff-t);
    font-size: var(--fs-st);
}

h3{
    font-family: var(--ff-t);
    font-size: 7dvh;
}
/**/
/* infosAccueil */
#entete{
    position: absolute;
    width: 100dvw;
    padding-top: 8dvh;
    padding-left: 10dvh;
}
#entete p{
    font-family: var(--ff-st);
    font-size: 3dvh;

}
#flecheProjet{
    position: absolute;
    z-index: 50;
    right: 5dvh; 
    display: flex; 
    align-items: center;
}
#flecheProjet img{
    height: 3.5dvh;
}
#flecheProjet p{
    margin-right: 3dvh ; 
    display: inline-block;
    font-family: Fababrac-soustitre;
}
#help{
    position: absolute;
    padding-left: 1dvh; 
    padding-top: 6dvh;
    transition: opacity 0.5s ease;
    font-size: 10%;
    line-height: 1.25;
}
/**/

/* generalDivisions */
#header{
    position: relative !important ;
    display: none;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.35    ) ;
    height: var(--h-header) !important   ;
    border-bottom: 2px solid black;
    transition: all 0.5s ease;
}
#center{
    
    scroll-behavior: smooth;
    position: relative;
    z-index: 0;
    height: var(--h-center) !important; 
    width: 100vw;
    overflow-x: scroll; 
    overflow-y: hidden;
}
/* #footer{
    border-top: solid black 0vmin;
    height: 10dvh;
    margin: auto;
    width: 100dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
      
  } */
/**/

/* ~~~~~~~~ CENTER ~~~~~~~~ */

/* ~~~~ global ~~~~ */

#maison{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color ease 0.25s;
    height: 100%; 
    width: calc((var(--projRatio)*var(--h-center))*2);
    overflow: hidden;
}

#arrierePlan{
    position: relative;
    display: inline;
    height: var(--h-center); 
    width: max-content  ; 
    position: absolute; 
    z-index: -50;
    height: 100%; 
    width: calc((var(--projRatio)*var(--h-center))*2);
    background-image: url(/2024_11_18_SiteWebHomeExp/assets/galerie/plinthe.png); 
    background-size: contain;
}
#papierPeint{
    background-color: aliceblue;
    background-image: url(/2024_11_18_SiteWebHomeExp/assets/homeBackground-01.png); 
    background-size: contain;

    background-size: calc(var(--scaleRatio)*50vmin);
    background-position: left;
    width: 100%;
    height: 95%;
    opacity: 0.15;

}

#buttonDesc{
    position: fixed;
    left: 0;
    cursor: pointer;
    visibility: hidden;
    opacity: 0; 
    width: 100dvw; 
    height: var(--h-center); 
    z-index: 12;   
}

/* popup */

#popup{ 
    position: fixed;
    z-index: 50;
    width: auto;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.856);
    border: 2px solid black;
    border-radius: 5px;
}
#popup h2{
    font-family: Fababrac; 
    display: inline-block; 
    padding: 0 5px 0 5px; 
    font-size: 150%
}

/* spot */
#spot{

    position: fixed; 
    overflow: hidden;
    left: 0;
    width: 100dvw; 
    height: var(--h-center); 
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.25s;
    transition: opacity ease 0.25s;
    z-index: 9;
}

#spotRight{
    position: absolute;

    transform-origin: 0 0;
    transition: all ease 0.25s;
    height: 100%; 
    width: 100dvw;
    background-color: rgb(0, 0, 0);
    z-index: -1;
}

#spotLeft{
    position: absolute;
 
    transform-origin: 0 0;
    transform: scale(-1,1);
    transition: all ease 0.25s;
    height: 100%; 
    width: 100dvw;
    background-color: rgb(0, 0, 0);
    z-index: -1;
}

#spot img{
    height: var(--h-center);
}
#spotMiddle{
    overflow: hidden;
    position: absolute;

    bottom: 0;
    width: 100%; 
    height: var(--h-center);
    transition: all ease 0.25s;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    z-index: -1;
}




/* description  */


#projectInformations{

    position: fixed;    
    right: calc(-1*var(--w-desc));
    top: calc(var(--h-header) + 2dvh);
    z-index: 51;
    background-color: rgb(255, 255, 255);
    max-height: calc(var(--h-center) - 4dvh);
    width: var(--w-desc);
    border: 2px solid black ;
    border-right: 0;
    border-radius: 5px 0 0 5px;

    overflow: hidden;
    overflow-y: scroll;
    transition: all ease 0.35s;
}
#projectName{
    font-family: Fababrac; 
    display: inline-block;
    padding-right: 1dvh;
} 

#projectType{
    font-family: Fababrac; 
    display: inline-block; 
    font-weight: 400
}

#projectImg{
    max-height: 100%; 
    width: 100%;
    padding-top: 2dvh;
}

#descContainer{
    position: relative;
    z-index: 0;
    padding: 2dvh;
    padding-top: 1.5dvh;
    margin: 1.5dvh;
}

#descButton{
    z-index: 10;
    width: 100%; 
    height: 100%; 
    position: absolute; 
    opacity: 0;
}

#genButton{
    position: absolute; 
    z-index: 8;
    width: 100dvw; 
    height: 100dvh; 

    opacity: 1;
}

#ProjectName{
    padding: 1dvh;
}

/* ~~~~ accueil ~~~~ */


#buttonAPropos{
    left : calc((var(--p-APropos)/var(--w-projAbs))*((var(--projRatio))*var(--h-center)));
    bottom: 0;
    width: calc((var(--w-APropos)/var(--w-projAbs))*((var(--projRatio))*var(--h-center)));
    height: calc((var(--h-APropos)/var(--w-projAbs))*((var(--projRatio))*var(--h-center)));
}
/* ~~~~ projets ~~~~ */

#projects{
    position: relative;
    
    display: inline-block; 
    z-index: 0;
    height: 100%;
    margin-left: 25dvw;
}

.project{

    
    position: absolute;
    height: 100%; 
    width: auto;
    z-index: 5;
    transition: opacity 0.35s ease;
}

.project img{
    height: 100%; 
    position: absolute;
    z-index: 5;

}
 /* ~~~~ visuels ~~~~ */

.backgroundColor{
    opacity: 1;
    filter: grayscale(1) brightness(1.5);
    transition: filter ease 0.2s;
}

.backgroundColor2{
    opacity: 0;
    transition: opacity ease 0.35s;
}

.background{
    transition: opacity ease 0.2s;
}

/* ~~~~ boutons ~~~~ */

.buttonProject{
    opacity: 0;
    position: absolute; 
    z-index: 50;

}


    /* ~~~~~~~~ HEADER / FOOTER ~~~~~~~~ */

    /* barre navigation */


#categories {
    width: 100dvw;
    height: 100%;
    align-items: center;
    z-index: 10;
    display: flex;
    justify-content: center !important;
    flex-wrap: nowrap;
    overflow-x: scroll ;
    opacity: 1;
    /* scrollbar-width: none;
    -ms-overflow-style: none; */
    list-style-type: none;
    transition: all 0.5s ease;
    
}

#categories li{
    margin-left: 3dvh;
    margin-right: 3dvh;
}

.button{
    background: none;
	color: inherit;
	border: none;
	font: inherit;
    font-family: Fababrac-soustitre;
    font-size: 3dvh;
	cursor: pointer;
	outline: inherit;
}

.buttonReset{
    background: none;
	color: inherit;
	border: none;
    opacity: 0.25;
	font: inherit;
    font-family: Fababrac-soustitre;
    font-size: 3dvh;
	cursor: pointer;
	outline: inherit;
}







@media screen and (max-width: 480px){

 :root{
    /* --scaleFactor : 0.66; */
    --w-desc : 98dvw;
    --h-center : 50dvh;
    --h-header : 40dvh;
    --p-APropos: 20 ;
    
}

#header{
    display: block;
}
body{
    font-size: 4.5vw;
}
h1{font-size: 200%;}

h2{
    padding-left: 0.5dvh;
    font-size: 100%;
}

p{
    font-size: 80%;
}

#papierPeint{
    background-size: calc(var(--scaleRatio)*(50vmin*5/9));
}

#projectInformations{
    right: calc(-1*var(--w-desc));
    top: 1dvh;
    max-height: calc(var(--h-header) - 2dvh);
    width: var(--w-desc);
    border: 2px solid black ;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    transition: all ease 0.25s;
} 

#descContainer{
    margin: 1.5dvh;
    padding: 0;
}

.closeButton{
    
    padding-right: 0.75dvh;
    background: none;
	color: inherit;
	border: none;
    opacity: 0.75;
	font: inherit;
    font-family: Fababrac-soustitre;
    font-size: 3dvh;
	cursor: pointer;
	outline: inherit;
    height: 20%; 
    position: fixed; 
    bottom: 0;
    /* top: calc((1dvh - var(--h-header)));  */
    right: 0;
}

.backgroundColor{
    opacity: 1;
    filter: grayscale(0.1) brightness(1);
    transition: filter ease 0.2s;
}

#categories li{
    margin-left: initial;
    margin-right: initial;
    /* text-transform: uppercase; */
}

#categories{
    margin-right: 5dvw;
    width: fit-content;
}

#categories li button{
    font-family: fababrac;
    font-size: 4dvh;  
    padding-left: 2dvw;
    padding-right: 1dvw;
}

#entete{
    width: 100dvw;
    position: absolute;
    /* top: calc(-1* var(--h-header)); */
    /* top : calc(-1* var(--h-header)); */
    padding-top: 4dvh;
    padding-left: 5dvh;
}

/* #projects{
    top: 34%;
} */

#projectAnimation{
    left: 0;

}

.animations{
    top: 50%;
    height: 50%;


}

#ProjectName{
    padding: 0.5dvh;
}

#popup{
    display: none;
}





/* #spotMiddle{
    background-color: rgb(0, 0, 0);
}

#spot img{
    visibility: hidden;
} */

#TitreSite{
    position: relative;
    top: -1dvh;
}

#help{
    position: relative;
    top: -1dvh;
}

#help p{    
    
   
    padding-top: 0;
    font-size: 2dvh;
}

#flecheProjet{
    top: 17dvh;
    right: 2dvh;

}

#flecheProjet p{
    font-size: 2.3dvh;
}

#flecheProjet img{
    max-height: 2.5dvh;
}

}

