
body{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.fullscreen{
    scroll-snap-align: start;
}

@media screen and (max-width: 900px) {
.bouton{
    display: none;
}
    
}