
:root{
    --w-carousel:1920px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*
#main{
    background-color: rgba(0, 255, 255, 0);
    margin: auto;
    width: 90vw;
    z-index: 10;
}
*/

#carousel{
    position: absolute;
    width: var(--w-carousel);

    /*border: solid 1px black;*/
    overflow: hidden;
    margin: 0;
    transform-origin: top left;
    
}

#carouselContainer{
    position: relative;
    top: -10vh;
    width: 1920px;
    min-height: 1396px;
}

.bouton{
    position: absolute;
    width: 35px;
    cursor: pointer;
    top : 385px
}

#l{
    left : 0;
    transform: rotate(0deg);
    opacity: 0.4;
    transition: all 0.3s ease;
}

#r{
    right: 0;
    transform: rotate(180deg);
    opacity: 0.4;
    transition: all 0.3s ease;
}

#l:hover{
    transform: rotate(0deg) scale(1.1);
    opacity: 1;
    transition: all 0.3s ease;
}

#r:hover{
    transform: rotate(180deg) scale(1.1);
    opacity: 1; 
    transition: all 0.3s ease;
}

.carouselPhoto{
    display: inline-block;
    width: 1920px;
    height: 1396px;

    
}


.slider{
    min-width: 100%;
}

.slidecontainer{
    z-index: 100;
}

.fullscreen2{
    min-height: 80vh;
}

/* téléphone */

@media screen and (max-width: 480px) {

    :root{
        --w-carousel:420px;
    }

}