/* ~~~~ variables ~~~~ */

@font-face { font-family: Fababrac-titre; src: url('/assets/fonts/Fababrac-GTitre.otf'); } 
@font-face { font-family: Fababrac; src: url('/assets/fonts/Fababrac-Minuscule.otf'); } 
@font-face { font-family: Fababrac-soustitre; src: url('/assets/fonts/Fababrac-Soustitre.otf'); } 


:root {

    /* général */

    --w-sidebar:50px;
    --h-sidebar: 10dvh;
    --spaces: 20px;
    --ff-t:Fababrac;
    --ff-st:Roboto;
    --ff-p:Roboto;
    --ff-c:Gabarito;
    --fs-t:3em;
    --fs-st : 1.75em;
    --fs-p : 0.75em;
    --fs-c : 1em;
    --w-main: 60vw;
    --test: calc((100vw - var(--w-main))/ -2);

    /* projets */
    
    --w-carton:20vw;
}



img{
    width: 100%;
}

.imgpx{
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

/* ~~~~  général  ~~~~ */

* {box-sizing: border-box; margin: 0; padding: 0;}

ul{list-style-type: none;}

html, body{
    position: relative;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    font-family: "Noto Sans", sans-serif;
    font-size: 100%;
    margin: auto;

    overflow: initial !important;
    width: initial !important;
    height: initial !important;
}



p{  
    padding-top: var(--spaces) ;
    padding-bottom: var(--spaces);
    background-color: rgba(137, 43, 226, 0);
    font-size: var(--fs-p);
    font-family: var(--ff-p);
    line-height: 150%;
}

.pLeg{
    text-align: center;
    font-weight: 200;

}



h1{
    font-family: var(--ff-t);
    font-size: var(--fs-t);
}

h2{
    font-family: var(--ff-t);
    font-size: var(--fs-st);
}

i{
    font-style: italic;
}

b{font-weight: 800;}

a:link { text-decoration: none; color: black;}
  
a:visited {text-decoration: none; color: black;}

a:hover {color: rgb(255, 255, 255);}

a:active {color: rgb(0, 0, 0);}

/* ~~~~  sidebar  ~~~~ */

#sidebar{background-color: rgb(140, 140, 140) ;

    transition: all 0.5s ease;

    z-index: 100;
    position: fixed;
    width: 100%;
    height: 5dvh;
    border-top: 2px solid black;
    bottom: 0;

}

#categories{
    height: 5dvh;
    margin: auto;
    max-width: 100dvw ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#categories p{

    text-align: center;
    font-family: Fababrac-soustitre;
    font-size: 3dvh;
	cursor: pointer;
	outline: inherit;
    line-height: 0;



}





@keyframes fadeIn {
    0%{
 
        opacity: 0;
    }

    100%{

        opacity: 1;
    }
}













#sidebar li a:hover{color: white !important;}
#sidebar h1 a:hover{color: white !important;}

#sidebar li:hover{color: white !important;}
#sidebar h1:hover{color: white !important;}

/* ~~~~  main  ~~~~ */

#main{background-color: rgba(0, 255, 255, 0);



    position: relative;
    min-height: 100vh;
    width: var(--w-main);
    margin: auto;
    margin-bottom: 0;
    animation-duration:  1s ;
    animation-name: fadeIn;
    

}

.endGradient{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0)0%, rgba(0, 0, 0, 0.05) 10%, rgba(0, 0, 0, 0.75) 100%); 
    position: absolute ; 
    bottom: 0; width: 100%; 
    height: 10dvh;
}

/* projet */



.pageLink:hover{
    color: red;
}

.espaceImg{position: relative;
    background-color: rgba(5, 10, 10, 0);
    max-width: var(--spaces);
    min-width: var(--spaces);
    min-height: var(--spaces);
    max-height: var(--spaces);
}

.triptique .espaceImg{
    max-width: calc( var(--spaces) / 2 );
    min-width: calc( var(--spaces)  / 2 );
}

.imgmobile{display: none;}

.flexmobile{
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}

.triptique img{
    width: 33%;
}

.diptique img{
    height: calc( var(--w-main) *0.45 );
    width: auto;
    object-fit : contain
}

.diptique{
    display: flex;
    align-items: center;
    justify-content: start;
}

.video{
    width: 100%;
    height: calc( var(--w-main) * 0.7 ) ;
    max-height: 90vh;
}

.fullscreen{
    min-height: 100dvh;
}

/*(intro)*/

#intro{background-color: rgba(137, 43, 226, 0);
    min-height: 95dvh;
    max-height: none;

}

#imgIntro{
    max-width: calc(var(--w-main)- var(--w-carton)) ;

}


.flexcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carton{background-color: rgba(0, 255, 255, 0);
    flex-basis: var(--w-carton) ; 
    flex-shrink: 0;
    padding-top: 25px;
    padding-bottom: 25px;  
    padding-right: 25px;
    max-height: 90dvh;
    overflow-y: scroll;
    /* max-height: 50vh; */
}


.carton h2{padding-bottom: 25px; display: inline-block;}

.carton h1{padding-bottom: 5px;}

.carton .typeProjet{
    font-size: var(--fs-p); 
    /* display: inline-block; */
    display: none;

}

.espace{background-color: rgba(0, 255, 255, 0);
    height: 100px;}

.espaceIntro{background-color: rgba(255, 217, 0, 0);
    height: 100px;}

.copyright{
    text-align: center; 
    display: block;
}

/* ~~~~ illustrations ~~~~ */



#galleryComputer{
    display: flex;            
    flex-direction: row;
}
#galleryComputer > div{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}




* {
box-sizing: border-box;
}

/* Galerie */

.imgGallery img {
    padding: 1vmin;
}

.imgGallery img{
    z-index: 50;

    transition: 0.3s;
    }
    
.imgGallery img:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The Modal (background) */
.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100dvw;
height: 100dvh;
overflow: scroll;
background-color: rgba(0, 0, 0, 0.208);
}
/* Modal Content */

.modalImg{
    position: fixed;
    overflow: scroll;
    padding: 2vmin;
    display: block;       
    width: 100%;
    height: 100%;     
}

/* The Close Button */
.close {
    display: block;
    z-index: 10;
color: rgb(0, 0, 0);
width: 30px;
height: 30px;
background-color: rgb(228, 54, 54);
position: fixed;
top: calc( 3vh + 10px );
right: 35px;
font-size: 35px;
line-height: 27px;
text-align: center;
}

.close:hover,
.close:focus {
color: rgb(228, 54, 54);
background-color: rgb(0, 0, 0);
text-decoration: none;
cursor: pointer;
}


.cursor {
cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}





/*(chmup)*/

.chmupImg{
    width: 50%;
}


/*(lamperessort)*/

.texta{
    padding-right: 25px;
    display: block; 
    width:  var(--w-carton); 
    /*padding-right: 25px ;*/
}

/*(terres lointaines)*/

.background2{
    z-index: -10;
    position: relative;
    width: 100vw;
    /* background-image: url(/assets/projets/scene_05.png); */
    background-repeat: repeat-x;
    background-size: 70vh;
    left: var(--test); 

}

/*(mobilier grillage)*/

.background{
    z-index: -10;
    position: relative;
    width: 100vw;
    height: 38vh;
    background-image: url(/assets/projets/mobiliergrillage-motif.jpg);
    background-repeat: repeat-x;
    background-size: 70vh;
    left: var(--test); 

}




.img50pc{
    max-width: 50%;
}



.illusfin{
    height: 100%;
    z-index: -10;
    width: 100% ; 


    background-color: rgba(6, 6, 204, 0);

}

.textfin{
    
    position: absolute; 
    text-align: end; 
    right: 0;}




/* corps */

.superflex{
    scroll-snap-type: y mandatory;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

/* accueil */


/* shake elements */
@keyframes shake {
    10%, 90% {
      opacity: 0;
    }
  
    20%, 80% {
        opacity: 1;
    }
  
    30%, 50%, 70% {
        opacity: 0;
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  .apply-shake {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
  


#descriptions{ 

    transition: margin-bottom 0.5s ease;
    overflow: scroll;
    max-height: calc( 35dvh - var(--h-sidebar) );
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}




.desc{    
    height: auto;
    /*height: calc( 50vh - var(--h-sidebar) ) ;*/
    max-height: 0;
    max-width: 100%;

    transition: max-height 0.5s ease-in-out;
    display: flex; 
    align-items: baseline; 
    position: relative;

}

.desc p{
    display: block;
    width: 100%;
    padding: 5px 25% 20px 10px ;
    /*
    padding-left: 20px;
    padding-bottom: 35px ;
    padding-top: 15px;
    */
}



button{
    font-family: var(--ff-c);
    background-color: white;
    transition: font-size 0.25s ease;
    text-transform: uppercase;
    font-weight: 300;
    font-size: var(--fs-c);
    

    padding: 15px 6px;
    margin-right: 10px;
    text-decoration: none;
    border: none;

}


button:hover {  
    text-decoration: underline;
}


#projets{
    margin-top: 20px;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .icons{
    position: relative;
    max-width: 100%;
    width: 32%;
    transition: max-width 0.25s ease;
    margin-bottom: 2%;
    transition-delay: 1s;
    transition-property: margin-right;
    
}

.icons img{

 
    height: 100%;
    padding: 0;
}
.icons p{
    display: block;
    z-index: -5;
    background-color: rgba(0, 0, 255, 0);

    
    position: absolute;
    padding: 50% 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.icons img:hover{
    opacity: 20%;
} */

/* apropos */

/* #aproposPp{
    margin: 0; 
    padding-top: 25px !important; 
    padding-bottom: 25px !important; 
    padding-right: 25px !important;
    width: 150px; 

}

#apropos p{
    
    padding: 8px 0;
}

#apropos img{
    
    padding: 40px 0;
}

#apropos b{
    
    font-size: 105%;
}

#apropos h2{
    padding: 5px 0;
} */

/* #cvEntete{
    display: flex; 
    align-items: center; 
    justify-content: start;
}

#cvCorps{

    display: flex; 
    align-items :flex-start; 
    justify-content: space-between;
} */



/* #cvCorps > div{
    width: 47.5%;
}

.aproposTxt{

    display: flex; 
    align-items :center; 
    justify-content: space-between;
}



.aproposTxt > div{
    width: 47.5%;
} */

/* parlers Espace */

#parlersEspaceFrame{
    display: flex;
    align-items: center;
    height: 100dvh;
}

#parlersEspaceFrame iframe{
    width: 100%; 
    height: calc(var(--w-main)/(16/9))
}

/* ~~~~ mediaqueries ~~~~ */


/* grand écran test */

@media screen and (min-width: 1300px) {


    
    
    p{
        font-size: 100%;
    }

}

 

/* écran */

@media screen and (max-width: 1300px) {

:root{
    --w-main: 70vw;

}

p{
    font-size: 100%;
}

/* petit écran */

}

  @media screen and (max-width: 900px) {




/* (projets) */

p{
    padding-top: var(--spaces) ;
    padding-bottom: var(--spaces);
}

.intro{
    flex-direction: column;
    height:auto;
}

#imgIntro{
    max-width: unset ;
    margin-bottom: 20px;
}




.carton{
    max-height: unset;
    overflow-y:unset;

}

.carton{  
    padding-top: 0;
}

.carton h1{
    padding-bottom: 0;
}

.carton h2{
    padding-bottom: 0;
}

.carton p {
    padding-bottom: 0;
}

/*
html{
    scroll-snap-type:none;
}
*/
.triptique img{
    width: 100%;
}

.diptique img{
    height: 100%;
    width: 100%;
    
}

/* projets*/





.carton{  
    padding-right: 0;
}



.espace{
    height: var(--spaces);
}

.texta{width: 100%; padding-right: 0px;}
.carton{flex-basis: 100%;}

.flexcontainer{
    flex-direction: column;
}

.flexscreen{display: none;}
.imgscreen{display: none;}

.flexmobile{display: flex;}
.imgmobile{display: inline-block;}

/*illustrations*/

.column{
    flex: 100%;
    max-width: 100%;
}

/*chmup*/

.chmupImg{
    width: 100%;
}

/*(mobilier grillage*/

.img50pc{
    max-width: 100%;
}

.textfin{
    max-width: 50%; 
    }

/*accueil*/

.icons {
    width: 47.5%;
    margin-bottom: 5%;
}

.desc{
    
    width: 75%;
}

/* apropos */

/* #cvCorps{
    flex-direction: column;
}

#cvCorps > div{
    width: 100%;
} */



}

/* téléphone */

@media screen and (max-width: 480px) {

    :root{
        --w-main: 90vw;
        --fs-t:2em;
        --fs-st : 1em;
        --fs-p : 0.75em;
    }

body{
    font-size: 4vw;
    text-align: start;
}

/* ~~~~  main  ~~~~ */

#main{
    left: 0 ;
    position: relative;
}

#header{
    display: block;
}




#categories{

    max-width: var(--w-main) ;

    justify-content: space-around;
}

/*accueil*/

/* #sidebarMargin{
    height: 90px;
} */

/* #categories {
    background-color: white;
    margin: auto;
    width: var(--w-main);
    position: fixed;
} */

/* #header {
    width: 100dvw;
    z-index: 10;
    position: fixed;
    bottom :45px
} */


/* #intro{
    border-bottom: 2px dotted black;
} */

#descriptions{
    width: 100%;
}

.desc p{padding-right: 0 ;}

.desc{
    width: 100%;
}





/* projets*/

#intro{
    border-bottom: 1px solid black
}

.espaceIntro{background-color: rgba(255, 217, 0, 0);
    height: 20px;}

.fullscreen{
    border-bottom: 1px dotted black;
    min-height: calc(100vh- 35px);
}


.flexcontainer{
    flex-direction: column;
}


.flexscreen{display: none;}
.imgscreen{display: none;}

.flexmobile{display: flex;}
.imgmobile{display: inline-block;}

/* illustrations */




/*(mobilier grillage*/
.background{left: -5vw;}


.illusfin{
position: relative;
/* left:-5vw ; */
width: 100vw;

}
    
.textfin{
    position: relative;
    max-width: 100%;
    text-align: start; 
}



/*quisuisje*/

#aproposPp{
 
    padding-top: 5vw !important; 
    padding-bottom: 5vw !important; 

}

.aproposTxt{


   flex-direction: column;
}

.aproposTxt > div{
    width: 100%;
}

#hiddenSpace{
    display: none;
}

#intro h1{
    padding-top: 3dvw;
}

}




