/* 
body{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.fullscreen{
    scroll-snap-align: center;
} */

:root{
    --Wcarnet : 1920px; 
    --Hcarnet : 1488px; 
    --WcarnetAbs : 1920; 
    --HcarnetAbs : 1488; 
}




.navBar{
    position: relative; 
    height: 10dvh;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    touch-action: none;
}

.bouton{
    width: auto;
    height: 5dvh;
    cursor: pointer;    
}

.slider{
    min-width: 100%;
}






/*carnet B*/

#carouselE{
    position: absolute;
    width: var(--Wcarnet);
    height: var(--Hcarnet);

    /*border: solid 1px black;*/
    overflow: hidden;
    margin: 0;
    transform-origin: top left ;
    z-index: -10;
    
    
    
}

#carouselContainerE{
    z-index: -10;
    position: relative;
    height: var(--Hcarnet);
    
}





#lE:hover{
    transform:scale(1.1);
    transition: all 0.3s ease;
}

#rE:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.carouselPhotoE{
    /* display: block; */
    display: inline-block;
    /* transform: rotate(-90deg); */
    width: var(--Wcarnet);
    height: var(--Hcarnet);
    


    


    
}



   




/* téléphone */

@media screen and (max-width: 480px) {

    .bouton{
        opacity: 0;
    }

    .navBar p{
    font-size: 4vw;
    }



/* carnet A */

    #carnetContainerE{
        
        transform-origin: top left; 
        transform: translateY(80dvh)  rotate(-90deg)  scale(calc(var(--WcarnetAbs)/var(--HcarnetAbs)));
    }

    #lE{

        transform: rotate(-90deg);

    }
    
    #rE{

        transform: rotate(-90deg);

    }

    #lE:hover{
        transform: rotate(-90deg) scale(1.1);
    }
    
    #rE:hover{
        transform: rotate(-90deg) scale(1.1);
    }


}