
p, li{
    font-family: Fababrac;

    font-size: calc(var(--scaleRatio)*3.5vmin);

}

h1 {
    padding-left: 5dvh;
    padding-bottom: 5dvh;
    font-family: Fababrac-titre;

    font-size: calc(var(--scaleRatio)*5vmin);
    
}





#mainContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: rgba(0, 255, 255, 0.05); */
  height: 100%;
  width: 80dvw;
  margin-left: 10dvw;
  
  }

#mainContainer div{
    width: 48%;
    height: 100%;
}

#textContainer{
    /* background-color: rgba(0, 0, 255, 0.05); */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    padding: 0 1.5dvw 0 1.5dvw;

}

#textContainer div{
    width: 100%;
    scroll-snap-align: center;
    height: 90dvh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}


/* #imgContainer{
    background-color: rgba(0, 0, 255, 0.05);
} */


/*footer*/


  @media screen and (max-width: 480px){

    #mainContainer{

        flex-direction: column;
    }

    #mainContainer div{

        width: 100%;

    }

    #textContainer div{
        height: 45dvh; 

    }
    
  }