*{box-sizing: border-box; margin: 0; padding: 0;}

:root{

  --scaleRatio : 1
  
}

@font-face { font-family: Fababrac-titre; src: url('../assets/fonts/Fababrac-GTitre.otf'); } 
@font-face { font-family: Fababrac; src: url('../assets/fonts/Fababrac-Minuscule.otf'); } 
@font-face { font-family: Fababrac-soustitre; src: url('../assets/fonts/Fababrac-Soustitre.otf'); } 
body{
  overflow: hidden;
}
#center{

  height: 90dvh;
}


#header{
  display: none;
  position: fixed; 
  background-color: aqua; 
  width: 100dvw; 
  height: 5dvw;
}

/*footer*/

#footer{
  border-top: solid black 3px;
  height: 10dvh;
    margin: auto;
    width: 100dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#footer div{
    background-image: url(assets/sphere-01.png);
    background-origin: content-box; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(var(--scaleRatio)*10vmin);
    width: calc(var(--scaleRatio)*10vmin);
    animation: bottom-animation 0.5s steps(2) forwards; 
    animation-iteration-count:infinite; 
    transition: all ease 0.25s;

}


#principal{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 2.5dvh;
    padding-top: 2.5dvh;

}
/*mainTitle*/

#title{
  height: 30dvh;
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
}


#name{
  background-image: url(assets/name-01.png);
  background-origin: content-box; 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(var(--scaleRatio)*13vmin);
  width: 100dvw;
  margin: auto;
  margin-top: 3dvh;
  animation: mainTitle-animation 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
  transition: all ease 0.25s;
}
@keyframes mainTitle-animation {
  
  to {
      background-image: url(assets/name-02.png);
  }

}
#subTitle{
  background-image: url(assets/subname-01.png);
  background-origin: content-box; 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(var(--scaleRatio)*8.5vmin);
  width: 100dvw;
  margin: auto;
  animation: mainSubTitle-animation 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
  transition: all ease 0.25s;
}
@keyframes mainSubTitle-animation {
  
  to {
      background-image: url(assets/subname-02.png);
  }

}


/* menu services */

#menu{
  height: 60dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#menu div{
  margin: auto; 
  flex-direction: row;
  align-items: center;
}

/* introduction */

#introduction{

  display: flex;
  position: relative;
  margin: auto;
  max-height: 55dvh;
  max-width: 65dvw;
}

#introText{

  overflow-y: scroll;

  max-height: 55dvh;
  padding: 0.5dvh;
  margin-left: 1dvh;
  margin-right: 1dvh;
  border-radius: 2dvh;
  border: solid black 3px;
}
#introText p{
  font-family: fababrac;
  font-size: calc(var(--scaleRatio)*4vmin);
  text-align: center;
}

#buttonIntro{
  z-index: 10;
  width: 100%; 
  height: 100%; 
  position: absolute; 
  opacity: 0;
}

#genButton{
  position: absolute; 
  z-index: 1;
  width: 100dvw; 
  height: 100dvh; 
  opacity: 0;
}


@keyframes bottom-animation {
  
    to {
        background-image: url(assets/sphere-02.png);
    }
  
  }

/* services */

.services{
  display: none;
  flex-direction: row;
}
.animated{
background-origin: content-box; 
background-size: contain;
background-position: left;
background-repeat: no-repeat;
height: calc(var(--scaleRatio)*10vmin);
width: calc(var(--scaleRatio)*10vmin);
z-index: 50;
animation-iteration-count:infinite; 
transition: all ease 0.25s;
}


/*designObjet*/
#animatedTitle{
    background-image: url(assets/title-obj-01.png);
    background-origin: content-box; 
    background-size: auto 75px;
    background-position: center;
    background-repeat: no-repeat;
    height: 75px;
    width: auto;;
    margin: auto;
    animation: title-animation 0.5s steps(2) forwards; 
    animation-iteration-count:infinite; 
    transition: all ease 0.25s;
}

@keyframes title-animation {
  
    to {
        background-image: url(assets/title-obj-02.png);
    }
  
  }


/*01*/


.animatedImage {
    background-image: url(assets/cube-01.png);
    animation: png-animation 0.5s steps(2) forwards; 
  }

  .animatedImage:hover {
    background-image: url(assets/cube-L-01.png);
    animation: png-animation2 0.5s steps(2) forwards; 
    animation-iteration-count:infinite; 
    width: 500px;
  }

  .animatedImage:active {
    background-image: url(assets/cube-L-01.png);
    animation: png-animation2 0.5s steps(2) forwards; 
    animation-iteration-count:infinite; 
    width: 500px;
  }
  
  @keyframes png-animation2 {
  
    to {
        background-image: url(assets/cube-L-02.png);
    }
  
  }

  @keyframes png-animation {
  
    to {
        background-image: url(assets/cube-02.png);
    }
  
  }
/*02*/
  
  .animatedImage2 {
    background-image: url(assets/sphere-01.png);
    animation: png2-animation 0.5s steps(2) forwards; 
}

.animatedImage2:hover {
  background-image: url(assets/sphere-L-01.png);
  animation: png2-animation2 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
  width: 500px;
}

@keyframes png2-animation {

  to {
      background-image: url(assets/sphere-02.png);
  }

}

@keyframes png2-animation2 {

  to {
      background-image: url(assets/sphere-L-02.png);
  }

}
/*03*/
  .animatedImage3 {
    background-image: url(assets/cylinder-01.png);
    animation: png3-animation 0.5s steps(2) forwards; 
  }
  
  .animatedImage3:hover {
    background-image: url(assets/cylinder-L-01.png);
    animation: png3-animation2 0.5s steps(2) forwards; 
    animation-iteration-count:infinite; 
    width: 500px;
  }
  
  @keyframes png3-animation {
  
    to {
        background-image: url(assets/cylinder-02.png);
    }
  
  }
  
  @keyframes png3-animation2 {
  
    to {
        background-image: url(assets/cylinder-L-02.png);
    }

}

@media screen and (max-width: 480px){

:root{

    --scaleRatio : 1.5
    
}

#introduction{

  max-height: 65dvh;
  max-width: 90dvw;
}

#introText p{
  line-height: 135%;
}
  
}