*{box-sizing: border-box; margin: 0; padding: 0;}

:root{

  --scaleRatio : 1
  
}

@font-face { font-family: Fababrac-titre; src: url('../assets/fonts/Fababrac-GTitre.otf'); } 
@font-face { font-family: Fababrac; src: url('../assets/fonts/Fababrac-Minuscule.otf'); } 
@font-face { font-family: Fababrac-soustitre; src: url('../assets/fonts/Fababrac-Soustitre.otf'); } 
body{
  overflow: hidden;
}
#center{

  height: 90dvh;
}


#header{
  display: none;
  position: fixed; 
  background-color: aqua; 
  width: 100dvw; 
  height: 5dvw;
}

/*footer*/

#footer{
  border-top: solid black 3px;
  height: 10dvh;
  margin: auto;
  width: 100dvw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
    
}

#footer div{
  display: none;
  justify-content: center;
  position: relative;
  
}

#galerie{
  flex-direction: row-reverse;
}


.cone{
  background-image: url(assets/cone-01.png);
  background-origin: content-box; 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(var(--scaleRatio)*10vmin);
  width: calc(var(--scaleRatio)*8vmin);
  animation: bottom-animation 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
  transition: all ease 0.25s;

}

@keyframes bottom-animation {to {background-image: url(assets/cone-02.png);}}

#footer div .animatedTitle{

  background-origin: content-box; 
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(var(--scaleRatio)*10vmin);
  width: 0;
  transition: all ease 0.25s;
}

#aPropos .bottomTitle{
  background-position: left;
  background-image: url(assets/title-apropos-01.png);
  animation: animApropos 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
}

@keyframes animApropos {to {background-image: url(assets/title-apropos-02.png);}}

#galerie .bottomTitle{
  background-position: right;
  background-image: url(assets/title-galerie-01.png);
  animation: animGalerie 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
}

@keyframes animGalerie {to {background-image: url(assets/title-galerie-02.png);}}

#footer div .animatedTitle:hover{
  width: calc(var(--scaleRatio)*20vmin);
}

#galerie .cone{
  scale: -1 1;
}

.bottomButton{
  position: absolute; 
  opacity: 0;
  width: 100%; 
  height: 100%; 
  z-index: 50
}

#principal{
    position: relative;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 2.5dvh;
    padding-top: 2.5dvh;

}
/*mainTitle*/

#title{
  height: 30dvh;
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
}


#name{
  background-image: url(assets/name-01.png);
  background-origin: content-box; 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(var(--scaleRatio)*13vmin);
  width: 100dvw;
  margin: auto;
  margin-top: 3dvh;
  animation: mainTitle-animation 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
  transition: all ease 0.25s;
}
@keyframes mainTitle-animation {
  
  to {
      background-image: url(assets/name-02.png);
  }

}
#subTitle{
  background-image: url(assets/subname-01.png);
  background-origin: content-box; 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(var(--scaleRatio)*8.5vmin);
  width: 100dvw;
  margin: auto;
  animation: mainSubTitle-animation 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
  transition: all ease 0.25s;
}
@keyframes mainSubTitle-animation {
  
  to {
      background-image: url(assets/subname-02.png);
  }

}


/* menu services */

#menu{
  height: 60dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#menu div{
  margin: auto; 
  flex-direction: row;
  align-items: center;
}

/* introduction */

#introduction{


  display: flex;
  position: relative;
  margin: auto;
  max-height: 55dvh;
  max-width: 65dvw;
}

#introText{

  overflow-y: scroll;

  max-height: 55dvh;
  padding: 0.5dvh;
  margin-left: 1dvh;
  margin-right: 1dvh;
  border-radius: 2dvh;
  border: solid black 3px;
}
#introText p{
  font-family: fababrac;
  font-size: calc(var(--scaleRatio)*4vmin);
  text-align: center;
}

#buttonIntro{
  z-index: 10;
  width: 100%; 
  height: 100%; 
  position: absolute; 
  opacity: 0;
}

#genButton{
  position: absolute; 
  z-index: 1;
  width: 100dvw; 
  height: 100dvh; 
  opacity: 0;
}



/* services */

.services{
  display: none;
  transition: all ease 0.25s;
  flex-direction: row;
  justify-content: space-between;
  width: calc(var(--scaleRatio)*10vmin);
  position: relative;

}



.servicesButton{
  position: absolute; 
  opacity: 0;
  width: 100%; 
  height: 100%; 
  z-index: 50
}
.animated{
position: relative;
background-origin: content-box; 
background-size: cover;
background-position: center;
background-repeat: no-repeat;
/* background-color: aquamarine; */
height: calc(var(--scaleRatio)*10vmin);
width: calc(var(--scaleRatio)*10vmin);
z-index: 35;

}

.left {
  background-position: left;
  width: 0;
}

.right {
  background-position: right;
  width: 0;
}


.animatedTitle{

    background-origin: content-box; 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: calc(var(--scaleRatio)*10vmin);
    width: 0;
    /* width: calc(var(--scaleRatio)*35vmin); */
    margin: auto;

    transition: all ease 0.25s;
}

/*designObjet*/
#designObjet .title{
  background-image: url(assets/title-obj-01.png);
  animation: animObjet 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
}
@keyframes animObjet {to {background-image: url(assets/title-obj-02.png)}}

#designObjet .base{
  background-image: url(assets/cube-01.png);
  animation: animCube 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
}
@keyframes animCube {to {background-image: url(assets/cube-02.png);}}

#designObjet .left{
  background-image: url(assets/cube-L-01.png);
  animation: animCubeL 0.5s steps(2) forwards; 
  animation-iteration-count:infinite;  
}
@keyframes animCubeL {to {background-image: url(assets/cube-L-02.png);}}

#designObjet .right{

  background-image: url(assets/cube-R-01.png);
  animation: animCubeR 0.5s steps(2) forwards; 
  animation-iteration-count:infinite;  
}
@keyframes animCubeR {to {background-image: url(assets/cube-R-02.png);}}

/*designMultimedia*/

#designMultimedia .title{
  background-image: url(assets/title-multimedia-01.png);
  animation: animMultimedia 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
}
@keyframes animMultimedia {to {background-image: url(assets/title-multimedia-02.png)}}

#designMultimedia .base{
  background-image: url(assets/sphere-01.png);
  animation: animsphere 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
}
@keyframes animsphere {to {background-image: url(assets/sphere-02.png);}}

#designMultimedia .left{
  background-image: url(assets/sphere-L-01.png);
  animation: animsphereL 0.5s steps(2) forwards; 
  animation-iteration-count:infinite;  
}
@keyframes animsphereL {to {background-image: url(assets/sphere-L-02.png);}}

#designMultimedia .right{

  background-image: url(assets/sphere-R-01.png);
  animation: animsphereR 0.5s steps(2) forwards; 
  animation-iteration-count:infinite;  
}
@keyframes animsphereR {to {background-image: url(assets/sphere-R-02.png);}}

/*Illustration*/

#Illustration .title{
  background-image: url(assets/title-illustration-01.png);
  animation: animIllustration 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
}
@keyframes animIllustration {to {background-image: url(assets/title-illustration-02.png)}}

#Illustration .base{
  background-image: url(assets/cylinder-01.png);
  animation: animcylinder 0.5s steps(2) forwards; 
  animation-iteration-count:infinite; 
}
@keyframes animcylinder {to {background-image: url(assets/cylinder-02.png);}}

#Illustration .left{
  background-image: url(assets/cylinder-L-01.png);
  animation: animcylinderL 0.5s steps(2) forwards; 
  animation-iteration-count:infinite;  
}
@keyframes animcylinderL {to {background-image: url(assets/cylinder-L-02.png);}}

#Illustration .right{

  background-image: url(assets/cylinder-R-01.png);
  animation: animcylinderR 0.5s steps(2) forwards; 
  animation-iteration-count:infinite;  
}
@keyframes animcylinderR {to {background-image: url(assets/cylinder-R-02.png);}}

@media screen and (max-width: 480px){

:root{

    --scaleRatio : 1.5
    
}

#introduction{

  max-height: 65dvh;
  max-width: 90dvw;
}

#introText p{
  line-height: 135%;
}
  
}