/* ~~~~ variables ~~~~ */

:root {

    /* général */

    --w-sidebar:50px;
    --h-sidebar: 50px;
    --ff-t:Gabarito;
    --ff-st:Roboto;
    --ff-p:Roboto;
    --fs-t:27px;
    --fs-st : 19px;
    --fs-p : 13px;
    --w-main: 60vw;
    --test: calc((100vw - var(--w-main))/ -2);

    /* projets */
    
    --w-carton:250px;
}


/*html{
    scroll-snap-type: y mandatory;
}*/

img{background-color: rgba(0, 0, 255, 0);
    /* padding: 1%; */
    width: 100%; height: 100%;
     
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}

/* ~~~~  général  ~~~~ */

* {box-sizing: border-box; margin: 0; padding: 0;}

ul{list-style-type: none;}

body {background-color: rgba(0, 0, 0, 0);
    position: relative;
    font-family: "Noto Sans", sans-serif;
    font-size: var(--fs-p);
    margin: auto;
    overflow-x: hidden;
}

h1{
    font-family: var(--ff-t);
    font-size: var(--fs-t);
}

h2{
    font-family: var(--ff-t);
    font-size: var(--fs-st);
}

b{font-weight: 700;}

a:link { text-decoration: none;}
  
a:visited {text-decoration: none; color: black;}

a:hover {color: white;}

a:active {color: rgb(0, 0, 0);}

/* ~~~~  sidebar  ~~~~ */

#sidebar {background-color: rgb(228, 54, 54);

    width: var(--w-sidebar);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#sidebar h1{background-color: rgba(0, 255, 255, 0);

    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: var(--fs-t);
}

#sidebar ul{background-color: rgba(0, 255, 255, 0);
    display: inline-block;

    margin-left: auto;
    margin-right: auto;

    writing-mode: vertical-rl;
    text-orientation: mixed;
    flex-basis: content;
}

#sidebar li{ 
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding: 8px 0px;
    text-align: center;
}

#sidebar h1{background-color: rgba(0, 255, 255, 0);
    font-family: var(--ff-t); 
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;

    padding: 8px 0px;
    text-align: center;
    
}

#sidebar li{background-color: rgba(0, 255, 255, 0);
    
    font-family: var(--ff-t);
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 500;
   
    padding: 8px 0px;
    text-align: center;
 
}

#sidebar li:hover{color: white;}
#sidebar h1:hover{color: white;}

/* ~~~~  main  ~~~~ */

#main{background-color: rgba(0, 255, 255, 0);

    position: relative;
    min-height: 100vh;
    width: var(--w-main);
    margin: auto;
    margin-bottom: 0;
    left: calc( var(--w-sidebar) /2) ;
}



/* projet */

p{
    padding-top: 20px;
    padding-bottom: 20px;
}

.imgmobile{display: none;}

.triptique img{
    padding-left: 0;
}

.video{
    width: 100%;
    height: calc( var(--w-main) * 0.7 ) ;
    max-height: 90vh;
}

/*(intro)*/

#intro{background-color: rgba(137, 43, 226, 0);
    min-height: 100vh;
}


.flexcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carton{background-color: rgba(0, 255, 255, 0);
    max-width: var(--w-carton) ; 
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;  
}


.carton h2{padding-bottom: 25px;}

.carton h1{margin-bottom: 25px;}

.espace{display: block;height: 100px;}

.copyright{
    margin: 20px auto;
    text-align: center; 
    display: block;
}
/*(chmup)*/

/*(lamperessort)*/

.texta{
    
    display: block; 
    width:  var(--w-carton); 
    padding-right: 25px ;
}

/*(mobilier grillage)*/

.background{
    margin-top: 30px;
    z-index: -10;
    position: relative;
    width: 100vw;
    height: 400px;
    background-image: url(../assets/mobiliergrillage-motif.JPG);
    background-repeat: repeat-x;
    background-size: 70vh;
    left: var(--test); 

}


.img50pc{
    max-width: 50%;
}

.illusfin{
    z-index: -10;
    position: relative;
    width: calc( 100vw - var(--w-sidebar) );
    height: auto;
    
    left: calc( var(--test) + (var(--w-sidebar)) /2 ) ; 
    margin: 0;
    padding: 0;

    background-color: rgba(0, 0, 255, 0);

}

.textfin{
    
    position: absolute; 
    text-align: end; 
    right: 0;
    padding: 25px;}




/* corps */

.superflex{
    scroll-snap-type: y mandatory;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

/* accueil */

#categories {
    z-index: 10;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 0;
    overflow-x: auto ;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

#categories::-webkit-scrollbar {
    display: none;
  }


#categories > li {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    
    line-height: 0;
    padding: 15px 12px;
    background-color: rgba(194, 194, 194, 0.486);
    margin-right: 10px;
    

}

#categories > li:last-child {margin-right: 0;}

#categories > li:hover {
    background-color: black;
    color: white;
}


#projets{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
}

.icons{
    position: relative;
    width: 32%;
    margin-bottom: 2%;
    
}

.icons img{

    width: 100%;
    height: 100%;
    padding: 0;
}
.icons p{
    z-index: -5;
    background-color: rgba(0, 0, 255, 0.288);

    line-height: 0;
    position: absolute;
    padding: 50% 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.icons img:hover{
    opacity: 20%;
}

/* ~~~~ mediaqueries ~~~~ */


/* écran */

@media screen and (max-width: 1300px) {

:root{
    --w-main: 70vw;

}

/* petit écran */

}

  @media screen and (max-width: 900px) {




/* (projets) */

.intro{
    flex-direction: column;
    height:auto;
}

html{
    scroll-snap-type:none;
}

/* projets*/

img{
    padding: 20px 0;

}

.texta{width: 100%;}
.carton{max-width: 100%;}

.flexcontainer{
    flex-direction: column;
}

.imgscreen{display: none;}

.imgmobile{display: inline-block;}

/*(mobilier grillage*/

.img50pc{
    max-width: 100%;
}

.textfin{
    max-width: 50%; 
    padding-top: 0;}

/*accueil*/

.icons {
    width: 47.5%;
    margin-bottom: 5%;
}

}



/* téléphone */

@media screen and (max-width: 480px) {

    :root{
        --w-main: 90vw;
        --fs-t:20px;
        --fs-st : 14px;
        --fs-p : 10px;
    }

/* ~~~~  main  ~~~~ */

#main{
    left: 0 ;
}


#sidebar{
    position: relative;
    width: 100%;
    height: 45px;
    flex-direction: row;
    justify-content: space-around;
}

#sidebar ul > li{ writing-mode:horizontal-tb;height: 100%; padding: 22.5px 0; line-height: 0;}

#sidebar h1{ writing-mode:horizontal-tb;height: 100%; padding: 22.5px 0; line-height: 0;}

/*accueil*/

.icons {
    width: 100%;
}

#categories{
    position: sticky;
    justify-content: space-between;
    top: 0;
}

#categories > li{
    margin: 0;
    padding: 12px 10px ;
}



/* projets*/

img{
    padding: 20px 0;
}

.flexcontainer{
    flex-direction: column;
}



.imgscreen{display: none;}

.imgmobile{display: inline-block;}

/*(mobilier grillage*/
.background{left: -5vw;}


.illusfin{ left:-5vw ;
width: 100vw;

}

.textfin{
    position: relative;
    max-width: 100%;
    text-align: start; 
}

}




